.page {
    display:flex;
    padding-left: 10px;
    padding-right: 10px;
}

.img {
    flex-grow: 1;
    margin-left: auto;
    margin-right: 10px;
}

.paragraph {
    flex-grow:1;
}

.paragraph p{
    margin: 10px auto;
    text-align: justify;
}