
.page {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
}

.paragraph {
    flex-grow:1;
}

.paragraph p{
    margin: 10px auto;
    text-align: justify;
}

.photos {
    margin-top: -100px;
    align-self: center;
}