
.page {
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

.paragraph {
    flex-grow:1;
}

.paragraph p{
    margin: 10px auto;
    text-align: justify;
}

.photos {
    margin-top: -180px;
    padding-left: 45px;
    /* align-self: center; */
    position:fixed;
}
