@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Montserrat";
    color: rgb(255, 255, 255)
}

:root {
    --default-max-width: 1000px;
    --default-yellow: rgb(255, 220, 64);
}


html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

body {
    /* background-image: "url(/Intro.jpg)"; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top right;
    background-attachment: fixed;
    background-blend-mode: overlay;
    transition: background-image 0.5s;
  }

.intro {
    margin: 10px auto;
    text-align: justify;
    max-width: 50%;
}

.separator {
  text-align: center;
  padding: 20px 20px;
}

table {
    border-collapse: collapse;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    overflow-y: scroll;
  }
td {
    padding: 10px 10px;
  }

  table thead tr {
    height: 60px;
    background: #383738c7;
  }

  table thead tr th {
    font-size: 18px;
    font-weight: normal;
    padding: 10px 10px;
  }

  table tbody tr th {
    font-weight: normal;
  }

  table tbody tr {
    height: 20px;
    background-color: #c7775231;
  }

  table tbody tr:nth-child(even) {
    background-color: #66484831;
  }




