@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Montserrat";
    color: rgb(255, 255, 255)
}

:root {
    --default-max-width: 1000px;
    --default-yellow: rgb(255, 220, 64);
    --default-margin-top: 100px;
}


html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

body {
    /* background-image: "url(/Intro.jpg)"; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top right;
    background-attachment: fixed;
    background-blend-mode: overlay;
    transition: background-image 0.5s;
  }

.intro {
  margin-left: 0px;
  margin-right: auto;
  margin-top:0px;
  margin-bottom: var(--default-margin-top);
  text-align: justify;
  font-size:larger;
}

.cvintro {
  margin-left: 0px;
  margin-right: auto;
  margin-top: 25px !important;
  margin-bottom: 50px !important;
  text-align: left !important;
  font-size:larger;
}

@media (min-width: 200px) {
  .intro { max-width: 100%; }
}
@media (min-width: 700px) {
  .intro {max-width: 60%;}
}

.cvintro::first-letter,
.intro::first-letter {
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
  font-weight: lighter;
  line-height: 10px;
}

.separator {
  text-align: center;
  padding: 20px 20px;
}

table {
    border-collapse: collapse;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    overflow-y: scroll;
  }
td {
    padding: 10px 10px;
  }

  table thead tr {
    height: 60px;
    background: #383738c7;
  }

  table thead tr th {
    font-size: 18px;
    font-weight: normal;
    padding: 10px 10px;
  }

  table tbody tr th {
    font-weight: normal;
  }

  table tbody tr {
    height: 20px;
    background-color: #c7775231;
  }

  table tbody tr:nth-child(even) {
    background-color: #66484831;
  }

  @media (max-width: 700px) {
    table {
      font-size: small;
    }
  }




