/* .intro {
    background-image: url("../images/Intro.jpg");
    background-size: cover;
} */


.page {
    padding-left: 10px;
    padding-right: 10px;
}

.img {
    display:inline-block ;
    max-width: 300px;
    margin-left: auto;
    margin-right: 10px;
    float: left;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto;
}

.paragraph {
    padding-top: 10px;
    padding-bottom: 10px;
}

.paragraph p{
    margin: 10px auto;
    text-align: justify;
}
