.table {
    border-collapse:separate;
}

.table td {
    height: 40px;
    overflow: hidden;
  }

.table tr,
.table tr:nth-child(even) {
    background-color: transparent;
}

.centered {
    text-align: center;
}