.navbar {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    padding: 20px 20px;
    position: sticky;
    top: 0;
    background-color: rgba(53, 50, 50, 0.8);
    align-items:baseline;

}

.navbar .links {
    display: inline;
    text-align: right;
}

.navbar a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    padding-bottom: 0px;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    border-color: white;
}