.navcontainer {
    display: flex;
    background-color: rgba(53, 50, 50, 0.8);
    position: sticky;
    justify-content: space-around;
    top: 0;
}

.navbar {
    order: 2;
    flex-grow:5;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    padding: 20px 20px;
    align-items:baseline;
    grid-column: 2;
    max-width: 1000px;
}

.navbar .links {
    display: inline;
    text-align: right;
}

.navbar a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    padding-bottom: 0px;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    border-color: white;
}