table {
    border-collapse: collapse;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    text-align: left;
  }
td {
    padding: 10px 10px;
  }

  table thead tr {
    height: 60px;
    background: #383738c7;
  }

  table thead tr th {
    font-size: 18px;
    font-weight: normal;
    padding: 10px 10px;
  }

  table tbody tr th {
    font-weight: normal;
  }

  table tbody tr {
    height: 20px;
    background-color: #c7775231;
  }

  table tbody tr:nth-child(even) {
    background-color: #66484831;
  }

  .column_align_left {
    text-align: left;
  }
  