.links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-self: end;
}

.links a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    padding-bottom: 0px;
    border-bottom: 3px solid transparent;
}

.links a:hover {
    border-color: white;
}

.highlight *{
    color: var(--default-yellow);
}
.highlight a {
    border-color: var(--default-yellow);
}